*.class
out/
build/
.idea/
*.iml

database/*
!database/.gitkeep
!database/plants.json
!database/zombies.json
!database/settings.json
!database/users.json
!database/ArmorTypeData.json

!lib/
!lib/gson-2.10.1.jar